@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Open+Sans:wght@400;700&display=swap');

// font-family: 'Kurale', serif;
// font-family: 'Open Sans', sans-serif;

body {
    background-color: rgb(54, 52, 52);
    font-family: $font1;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
}

.container-nav {
    max-width: $containerNav;
    padding: 0 15px;
    margin: 0 auto
}

.container {
    max-width: $containerPage;
    padding: 0 30px;
    margin: 0 auto;
}

.title {
    font-family: $font2;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $black;
}

.hide {
    display: none;
}