// color
$white:  #FFFFFF;
$black:  #000000;
$yellow:  #E8C300;


// fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Kurale', serif;


// container
$containerPage: 1240px;
$containerNav: 1050px;
$containerSlider: 1450px