.button {
    display: inline-block;
    width: 200px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 12px;
    color: $white;
    border-radius: 5px;

    background-color: $yellow;

    transition: background-color .3s ease-out, transform .1s ease-out;

    &:hover {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }


    &-transparent {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: background-color .3s ease-out, transform .1s ease-out;

        &:hover {
            background-color: $yellow;
        }
    }

    &__form-order {
        width: 564px;

        &:hover {
            background-color: rgb(229, 164, 79);
        }
    }

    &__form-contacts {
        width: 585px;

        &:hover {
            background-color: rgb(229, 164, 79);
        }
    }

    &:active {
        transform: translateY(1px);
    }
}