.footer {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.9);
}

.footer__copy {
    p {
        font-size: 12px;
        line-height: 1;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
}