.special-offers {
    height: 675px;
    padding: 50px 0 45px;
    color: $white;

    background: url(../img/special-offers/special-offers-bg.jpg) center / cover;
    background-repeat: no-repeat;


    &__title {
        margin-bottom: 50px;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }


    .template__heding {
        .title {
            color: $white;
        }
    }

    .template__desc-top {
        margin-bottom: 35px;
    }

    .template__desc-bottom {
        width: 545px;
        margin: 0 auto;
    }
    
    .template__circle {
        left: -125px;
    }   
}


.special-offers__slider .owl-theme .owl-dots .owl-dot.active span, .special-offers__slider .owl-theme .owl-dots .owl-dot:hover span {
    background: $yellow;
    margin-top: 20px;
}
    