.special-offers {
    padding: 50px 0;
    color: $white;

    background: url(/img/special-offers/special-offers-bg.jpg) center / cover;
    background-repeat: no-repeat;

    &__slider {
        width: 100%;

        .slide {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 50px;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }


    .template__heding {
        .title {
            color: $white;
        }
    }

    .template__desc-top {
        margin-bottom: 35px;
    }

    .template__desc-bottom {
        width: 545px;
        margin: 0 auto;
    }
    
    .template__circle {
        left: -125px;
    }   
}


    